.form-spacer{
  margin-right: 10px;
  margin-left: 10px;
}

agm-map {
  height: 300px;
}

.rightFloat{
  float: right;
}

.right-space{
  margin-right: 5px;
}

.my-checkbox{
  background-color: #6495EA ;
  margin-right: 5px;
  border-radius: 7px 0 0 7px;
  position: relative;
  top: 2px;
  opacity: .8;
  border-color: white;
}

.submit-margins{
  margin: 8px 0 8px 0;
}

.left-space{
  margin-left: 5px;
}
